body{
    background-color: rgb(224, 220, 220);
    padding-top: 50px;
    
   
}




.navbar{
    
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: gray;
    z-index: 100;
}

.logo{
    padding: 2px;
    display: inline-block;
    margin: 0;
}

.logo img{
    width: 40px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    margin-top: 4px;
    padding-top: 3px;
}


.tabs{
    padding-left: 20px;
    padding-right: 50px;
}


a{
    text-decoration: none;
    color: white;
}


ul li{display: inline-block;
    text-decoration: none;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    padding-left: 50px;   
}
  


.container_for_grid{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
   
    width: 100%;
    padding: 0;
    margin: 0;
    
}
.image_container{
    display: inline-block;
    padding-right: 0;
}
.images{
    display: inline-block;
}




.images img{
    width: 430px;
    margin: 0;
    padding: 0;
    border-radius: 7px;
}

.image_container{
    position: relative;
}

.image_info{
    background-color: rgb(103, 99, 99);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: 300;
    width: 100px;
    padding: 2px;
    border-radius: 4px;
    margin: 2px;
    position: absolute;
    top: 10px;
    left: 2px;
    display: none;
}

.image_info p{
    padding-left: 5px;
    padding-right: 5px;
    margin: 0;
    display: none;
}



@media (max-width:700px) {
    .container_for_grid{
        grid-template-columns: 1fr;
    }
    
    .images img{
            width: 100%;
}

}




footer{
    background-color: rgb(246, 246, 246);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 45px;
    border-top-width: 1px;
    border-top-color: rgb(215, 213, 213);
    border-top-style: solid;
    padding-top: 5px;
    padding-bottom: 15px;
    z-index: 1000;
}
.theotech{
    display: inline-block;
    width: 100%;

}

.theotech p{
    margin: 0;
    padding: 0;
   padding-left: 1%;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size: 13px;
}

p span {
color:rgb(231, 56, 56);

}
 p a {
    font-size: 16px;
    padding-right: 10px;
    padding-left: 15px;
    padding-top: 0;
    margin: 0;
    padding-bottom: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: red;
    
}
